:root {
	--bg-primary: #242629;
	--bg-second: #141414;
	--bg-third: #ffffff;

	--fc-title: #ffffff;
	--fc-paragraph: #94a1b2;
	--fc-button: #141414;
	--fc-button-light: #ffffff;
	--fc-dark: #141414;

	--accent: #2cb67d;
	--accent-light: #41bd8a;
	--accent-dark: #29ab76;
	--wrong: #f45d48;

	--font-title: 'IBM Plex Mono', monospace;
	--font-paragraph: 'Noto Sans', sans-serif;

	--fz: 16px;
}
